newsboat/.newsboat/cache.db
newsboat/.newsboat/cache.db.lock

nvim/.config/nvim/pack/**/*

weechat/.weechat/sec.conf
weechat/.weechat/logs
weechat/.weechat/*.log
weechat/.weechat/xfer/
weechat/.weechat/irc.conf
